{% extends parent_template %}

#######################################
## fluentd override
#######################################

{# {% block fluentd_footer %}
# Install dependencies
{% set fluentd_additional_packages = [
  'gcc', 'libffi-devel', 'ruby-devel', 'make', 'pkgconfig', 'gettext', 'automake', 'autoconf', 'binutils', 'libtool'
] %}

{{ macros.install_packages(fluentd_additional_packages) }}

# Install additional fluentd plugins
{% set fluentd_additional_plugins = [
    'fluent-plugin-systemd:0.0.11'
] %}

{{ macros.install_fluent_plugins(fluentd_additional_plugins) }}

{{ macros.configure_user('fluentd', groups='systemd-journal') }}

{% endblock %} #}

#######################################
## keystone override
#######################################

{# {% block keystone_base_footer %}
# Update `mod_auth_openidc` and related deps from our repository
{% set keystone_upgrade_packages = [
  'mod_auth_openidc',
  'patch'
] %}

{{ macros.install_packages(keystone_upgrade_packages) }}

ADD files/ussuri/keystone/mapped.py.patch \
    files/ussuri/keystone/schema.py.patch \
    files/ussuri/keystone/utils.py.patch \
    /tmp/

RUN /usr/bin/patch /usr/lib/python3.6/site-packages/keystone/auth/plugins/mapped.py /tmp/mapped.py.patch \
    && /usr/bin/patch /usr/lib/python3.6/site-packages/keystone/auth/schema.py /tmp/schema.py.patch \
    && /usr/bin/patch /usr/lib/python3.6/site-packages/keystone/federation/utils.py /tmp/utils.py.patch \
    && rm -f /usr/lib/python3.6/site-packages/keystone/auth/plugins/mapped.py{c,o} \
    && rm -f /usr/lib/python3.6/site-packages/keystone/auth/schema.py{c,o} \
    && rm -f /usr/lib/python3.6/site-packages/keystone/federation/utils.py{c,o} \
    && python3 -m compileall /usr/lib/python3.6/site-packages/keystone/auth/plugins/mapped.py \
    && python3 -O -m compileall /usr/lib/python3.6/site-packages/keystone/auth/plugins/mapped.py \
    && python3 -m compileall /usr/lib/python3.6/site-packages/keystone/auth/schema.py \
    && python3 -O -m compileall /usr/lib/python3.6/site-packages/keystone/auth/schema.py \
    && python3 -m compileall /usr/lib/python3.6/site-packages/keystone/federation/utils.py \
    && python3 -O -m compileall /usr/lib/python3.6/site-packages/keystone/federation/utils.py

# enable_oidc_auth is a hack that allows use oidc auth method togeather with openid.
# can be deleted when other OIDC providers will start using openid.
RUN /usr/bin/keystone-manage --version >> tmp_rm 2>> tmp_rm \
    && sed -i 's/\[keystone.auth.openid\]/[keystone.auth.oidc]\ndefault = keystone.auth.plugins.mapped:Mapped\n\n&/' \
    /usr/lib/python3.6/site-packages/keystone-$(cat tmp_rm)-py3.6.egg-info/entry_points.txt \
    && rm -f tmp_rm

{% endblock %} #}

#######################################
## OVS override
#######################################

{# {% block openvswitch_base_footer %}
# Have to purge first, problems with updates
RUN yum -y remove openvswitch-ovn-central openvswitch-ovn-host openvswitch-ovn-common \
                  openvswitch-selinux-policy python-openvswitch openvswitch-kmod openvswitch

# Update OVN/OVS and related deps from our repository
{% set ovn_upgrade_packages = [
  'https://repo.cloud.muni.cz/packages-centos-8/openvswitch-2.13.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/ovn-20.06.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/ovn-host-20.06.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/ovn-central-20.06.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/python3-openvswitch-2.13.1-1.el8.noarch.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/openvswitch-selinux-policy-2.13.1-1.el8.noarch.rpm'
] %}

{{ macros.install_packages(ovn_upgrade_packages) }}

# Lock OVS/OVN packages in place
RUN echo "exclude=openvswitch* python-openvswitch ovn*" >> /etc/yum.conf
{% endblock %} #}

#######################################
## OVN override
#######################################

{# {% block ovn_base_footer %}
# Have to purge first, problems with updates
RUN sed -i '/^exclude=openvswitch/ d' /etc/yum.conf \
    && yum -y remove openvswitch-ovn-central openvswitch-ovn-host openvswitch-ovn-common \
                     openvswitch-selinux-policy python-openvswitch openvswitch-kmod openvswitch

# Update OVN/OVS and related deps from our repository
{% set ovn_upgrade_packages = [
  'https://repo.cloud.muni.cz/packages-centos-8/openvswitch-2.13.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/ovn-20.06.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/ovn-host-20.06.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/ovn-central-20.06.1-1.el8.x86_64.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/python3-openvswitch-2.13.1-1.el8.noarch.rpm',
  'https://repo.cloud.muni.cz/packages-centos-8/openvswitch-selinux-policy-2.13.1-1.el8.noarch.rpm'
] %}

{{ macros.install_packages(ovn_upgrade_packages) }}

# Lock OVS/OVN packages in place
RUN echo "exclude=openvswitch* python-openvswitch ovn*" >> /etc/yum.conf
{% endblock %}

#######################################
## nova_spicehtml5proxy override
#######################################

{% set nova_spicehtml5proxy_packages_remove = ['spice-html5'] %}
{% set nova_spicehtml5proxy_packages_append = ['https://repo.cloud.muni.cz/packages-centos-8/spice-html5-0.2.2-1.el8.noarch.rpm'] %} #}

#######################################
## horizon override
#######################################

{# {% block horizon_footer %}

{{ macros.install_packages(['patch']) }}

COPY files/ussuri/horizon/openstack_auth_user.py.patch \
    /tmp/

RUN /usr/bin/patch /usr/lib/python3.6/site-packages/openstack_auth/user.py /tmp/openstack_auth_user.py.patch \
    && rm -f /usr/lib/python3.6/site-packages/openstack_auth/user.py{c,o} \
    && python3 -m compileall /usr/lib/python3.6/site-packages/openstack_auth/user.py \
    && python3 -O -m compileall /usr/lib/python3.6/site-packages/openstack_auth/user.py

{% endblock %} #}

#######################################
## tempest override
#######################################

{# {% block tempest_footer %}
# Remove annoying packages with Tempest plugins
{% set tempest_remove_packages = [
  'openstack-tempest-all',
  'python-octavia-tests-tempest-golang',
  'python2-barbican-tests-tempest',
  'python2-congress-tests-tempest',
  'python2-designate-tests-tempest',
  'python2-ec2api-tests-tempest',
  'python2-ironic-tests-tempest',
  'python2-kuryr-tests-tempest',
  'python2-magnum-tests-tempest',
  'python2-manila-tests-tempest',
  'python2-mistral-tests-tempest',
  'python2-murano-tests-tempest',
  'python2-novajoin-tests-tempest',
  'python2-octavia-tests-tempest',
  'python2-patrole-tests-tempest',
  'python2-sahara-tempest',
  'python2-sahara-tests-tempest',
  'python2-telemetry-tests-tempest',
  'python2-tripleo-common-tests-tempest',
  'python2-trove-tests-tempest',
  'python2-vitrage-tests-tempest',
  'python2-watcher-tests-tempest',
  'python2-zaqar-tests-tempest'
] %}

{% if base_distro in ['centos', 'oraclelinux', 'rhel'] -%}
  RUN yum -y remove {{ tempest_remove_packages | join(' ') }} && yum clean all && rm -rf /var/cache/yum
{%- endif %}

{% endblock %} #}

#######################################
## monasca override
#######################################

{# # Overridden by commit b847daea68a358652414018297afb44a540b1c79
# It should be fix in version 8.0.2

{% block monasca_grafana_install %}
# NOTE(mgoddard): Pinning rake because rake 13.0.0 depends on Ruby 2.2, and CentOS 7 only provides
# Ruby 2.0.
RUN gem install rake:"~>12" fpm \
    && curl -sSL -o /tmp/monasca-grafana.tgz ${monasca_grafana_url} \
    && mkdir -p ${monasca_grafana_build_path} \
    && tar --strip 1 -xvf /tmp/monasca-grafana.tgz -C ${monasca_grafana_build_path} \
    && rm -f /tmp/monasca-grafana.tgz \
    && cd ${monasca_grafana_build_path} \
    && go run build.go setup \
    && npm install \
    && go run build.go build package \
    && mv ${monasca_grafana_build_path}/dist /grafana_pkgs \
    && rm -rf /grafana
{% if base_package_type == 'rpm' %}
  {% set monasca_grafana_packages = ['/grafana_pkgs/grafana*.rpm'] %}
{% elif base_package_type == 'deb' %}
  {% set monasca_grafana_packages = ['/grafana_pkgs/grafana*.deb'] %}
{% endif %}
{{ macros.install_packages(monasca_grafana_packages | customizable("packages")) }}
{% endblock %} #}
